<table class="table table-striped table-striped">
    <thead>
    <th>Name</th>
    <th>Name Bangla</th>
    <th>Title</th>
    <th>Serial</th>
    <th>Action</th>
    </thead>
    <tr ng-repeat="chapter in chapters">
        <td >{{chapter.name}}</td>
        <td >{{chapter.nameBangla}}</td>
        <td >{{chapter.title}}</td>
        <td >{{chapter.serial}}</td>
        <td >Edit</td>
    </tr>
</table>
<div align="center"><pagination  ng-model="currentPage" total-items="totalElement"  max-size="maxSize"
    boundary-links="true"> </pagination></div>
