<div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 stories-panel">
                <div class="panel">
                    <div class="form-group col-sm-12">
                        <h2 style="text-align: center;font-weight: bold;font-style: italic;">Update Password</h2>
                    </div>
                    <div class="panel-body">
                        <form ng-show="!success" name="form" role="form" ng-submit="changePassword()" show-validation>
    
                            <div class="form-group">
                                <input type="password" class="form-control"
                                                                           ng-model="currentPassword" name="currentPassword"
                                                                           ng-remote-validate="/api/account/checkPassword/"
                                                                           ng-remote-method="GET"
                                                                           ng-remote-throttle="1000"
                                                                           required
                                                                           placeholder="Current Password">
    
                                <div ng-show="form.currentPassword.$invalid">
                                    <p class="help-block"
                                                                           ng-show="form.currentPassword.$error.ngRemoteValidate">
                                        Old password is not match
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password"
                                                                           placeholder="New Password"
                                                                           ng-model="password" ng-minlength=5 ng-maxlength=50 required>
    
                                <div ng-show="form.password.$dirty && form.password.$invalid">
                                    <p class="help-block"
                                                                           ng-show="form.password.$error.required">
                                        Your password is required.
                                    </p>
    
                                    <p class="help-block"
                                                                           ng-show="form.password.$error.minlength">
                                        Your password is required to be at least 5 characters.
                                    </p>
    
                                    <p class="help-block"
                                                                           ng-show="form.password.$error.maxlength">
                                        Your password cannot be longer than 50 characters.
                                    </p>
                                </div>
                                <password-strength-bar password-to-check="password"
                                                                                                           ng-show="password"></password-strength-bar>
                            </div>
                            <div class="form-group">
    
                                <input type="password" class="form-control" id="confirmPassword"
                                                                           name="confirmPassword"
                                                                           placeholder="Retype New Password"
                                                                           ng-model="confirmPassword"
                                                                           ng-maxlength=50 required ng-keyup="matchPass(password,confirmPassword)" >
    
                                <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                    <p class="help-block"
                                                                           ng-show="form.confirmPassword.$error.required">
                                        Your confirmation password is required.
                                    </p>
    
                                    <p class="help-block"
                                                                           ng-show="form.confirmPassword.$error.minlength">
                                        Your confirmation password is required to be at least 5 characters.
                                    </p>
                                </div>
                                <p ng-show="notMatched" style="font-size: 0.8em; color:red;">Password doesn't matched !</p>
                            </div>
    
                            <div class="col-md-12" align="center">
                                <div class="form-group">
                                    <button type="submit" ng-disabled="form.$invalid"
                                                                                     class="btn icon-btn-save btn-success pull-right">Change Password
                                    </button>
                                </div>
    
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--<div class="row">-->
    <!--<div class="col-md-12">-->
            <!--<div class="employer-profile-heading panel-heading" ></div>-->
            <!--<div class="col-xs-12 col-sm-12 col-md-12 change_pass">-->
                <!--<form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>-->

                    <!--<div class="panel panel-primary">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">-->
                                <!--<span class="glyphicon glyphicon-th"></span>-->
                                <!--Update Password-->
                            <!--</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-12 col-sm-12 col-md-12 login-box">-->
                                    <!--<div class="form-group">-->
                                        <!--<div class="input-group">-->
                                            <!--<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span>-->
                                            <!--</div>-->
                                            <!--<input class="form-control" ng-model="user.username" type="text"-->
                                                   <!--placeholder="Username" readonly value="User Name" required>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="password" class="form-control"-->
                                               <!--ng-model="currentPassword" name="currentPassword"-->
                                               <!--ng-remote-validate="/api/account/checkPassword/"-->
                                               <!--ng-remote-method="GET"-->
                                               <!--ng-remote-throttle="1000"-->
                                               <!--required-->
                                               <!--placeholder="Current Password">-->

                                        <!--<div ng-show="form.currentPassword.$invalid">-->
                                            <!--<p class="help-block"-->
                                               <!--ng-show="form.currentPassword.$error.ngRemoteValidate">-->
                                                <!--Old password is not match-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="password" class="form-control" id="password" name="password"-->
                                               <!--placeholder="New Password"-->
                                               <!--ng-model="password" ng-minlength=5 ng-maxlength=50 required>-->

                                        <!--<div ng-show="form.password.$dirty && form.password.$invalid">-->
                                            <!--<p class="help-block"-->
                                               <!--ng-show="form.password.$error.required">-->
                                                <!--Your password is required.-->
                                            <!--</p>-->

                                            <!--<p class="help-block"-->
                                               <!--ng-show="form.password.$error.minlength">-->
                                                <!--Your password is required to be at least 5 characters.-->
                                            <!--</p>-->

                                            <!--<p class="help-block"-->
                                               <!--ng-show="form.password.$error.maxlength">-->
                                                <!--Your password cannot be longer than 50 characters.-->
                                            <!--</p>-->
                                        <!--</div>-->
                                        <!--<password-strength-bar password-to-check="password"-->
                                                               <!--ng-show="password"></password-strength-bar>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->

                                        <!--<input type="password" class="form-control" id="confirmPassword"-->
                                               <!--name="confirmPassword"-->
                                               <!--placeholder="Retype New Password"-->
                                               <!--ng-model="confirmPassword"-->
                                               <!--ng-maxlength=50 required ng-keyup="matchPass(password,confirmPassword)" >-->

                                        <!--<div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">-->
                                            <!--<p class="help-block"-->
                                               <!--ng-show="form.confirmPassword.$error.required">-->
                                                <!--Your confirmation password is required.-->
                                            <!--</p>-->

                                            <!--<p class="help-block"-->
                                               <!--ng-show="form.confirmPassword.$error.minlength">-->
                                                <!--Your confirmation password is required to be at least 5 characters.-->
                                            <!--</p>-->
                                        <!--</div>-->
                                        <!--<p ng-show="notMatched" style="font-size: 0.8em; color:red;">Password doesn't matched !</p>-->
                                    <!--</div>-->

                                <!--</div>-->


                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-6 col-sm-6 col-md-6"></div>-->
                                <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                                    <!--<button type="submit" ng-disabled="form.$invalid"-->
                                            <!--class="btn icon-btn-save btn-success pull-right">Change Password-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;panel&ndash;&gt;-->
                <!--</form>-->
                <!--&lt;!&ndash;form&ndash;&gt;-->
            <!--</div>-->


    <!--</div>-->

<!--</div>&lt;!&ndash; content body right&ndash;&gt;-->

</div><!--row end-->