<div class="dashbord">

    <div class="container" style="width: 100%;padding: 0;">
        <div class="cover-header-area">

            <div class="banner-area">
                <div class="col-md-2" style=" padding-left: 10px;" ><img height="85px" width="170px"  src="/images/logo.jpg" alt=""/>
                </div>
                <div class="col-md-8 banner-heading text-center">
                    <h2>SPS Data</h2>
                </div>
                <div class="col-md-2 text-right">
                    <div class="user-area">
                        <ul class="nav navbar top-nav" style="width: 100%">
                            <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-tablet">{{username}}</span>
                            <b class="caret"></b>
                        </span>
                                </a>
                                <!--<ul class="dropdown-menu" style="width: 100%">-->
                                    <!--<li ui-sref-active="active"><a href="" ui-sref="change-password"><span-->
                                            <!--class="glyphicon glyphicon-log-out"></span>-->
                                        <!--&#xA0;<span>Change Password</span></a></li>-->
                                    <!--<li ui-sref-active="active"><a href="" ng-click="logout()"><span-->
                                            <!--class="glyphicon glyphicon-log-out"></span>-->
                                        <!--&#xA0;<span>Log out</span></a></li>-->

                                <!--</ul>-->
                                <!--<ul class="dropdown-menu" style="width: 100%">-->
                                    <!--<li ui-sref-active="active">-->
                                        <!--<a ui-sref="login">-->
                                            <!--<span class="glyphicon glyphicon-log-in"></span>-->
                                            <!--<span>Login</span>-->
                                        <!--</a>-->
                                    <!--</li>-->


                                <!--</ul>-->
                            </li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!---=========  END HEADER AREA ========--->

<nav class="navbar navbar-inverse no-br" role="navigation">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#/"><span class="site-name" >Home</span>  </a>-->
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav nav-pills navbar-left">
                <li ui-sref-active="active">
                    <a ui-sref="home">
                        <span class="glyphicon glyphicon-home"></span>
                        <span>Home</span>
                    </a>
                </li>

                <li ui-sref-active="active"
                    class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet">Chapter</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="chapters"><span
                                    class="glyphicon glyphicon-dashboard"></span>
                                &#xA0;<span>Chapter List</span></a>
                        </li>
                        <li>
                            <a ui-sref="add-chapter"><span
                                    class="glyphicon glyphicon-dashboard"></span>
                                &#xA0;<span>Add Chapter</span></a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active"
                    class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet">Section</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="sections"><span
                                    class="glyphicon glyphicon-dashboard"></span>
                                &#xA0;<span>Section List</span></a>
                        </li>
                        <li>
                            <a ui-sref="add-section"><span
                                    class="glyphicon glyphicon-dashboard"></span>
                                &#xA0;<span>Add Section</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

