<div class="panel panel-default">
    <div class="panel-heading caption-subject font-blue-dark bold uppercase">
        <span class="font-blue-dark">Chapter List</span>
        <span class="pull-right"><a ui-sref="add-chapter"><span
                class="font-blue-dark">Add New Chapter</span></a></span>
    </div>
    <div class="panel-body">
<table class="table table-bordered table-striped">
    <thead>
    <th>Name</th>
    <th>Name Bangla</th>
    <th>Title</th>
    <th>Serial</th>
    <th>Action</th>
    </thead>
    <tr ng-repeat="chapter in chapters">
        <td >{{chapter.name}}</td>
        <td >{{chapter.nameBangla}}</td>
        <td >{{chapter.title}}</td>
        <td >{{chapter.serial}}</td>
        <td >Edit</td>
    </tr>
</table>
<div align="center"><pagination  ng-model="currentPage" total-items="totalElement"  max-size="maxSize"
    boundary-links="true"> </pagination></div>
    </div>
</div>